<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.6.2" targetFramework="net462" developmentDependency="true" />
  <package id="Fody" version="2.3.21" targetFramework="net462" developmentDependency="true" />
  <package id="MySql.Data" version="6.10.5" targetFramework="net462" />
  <package id="UnmanagedExports" version="1.2.7" targetFramework="net462" />
</packages>